<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Admin Dashboard</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
	
		<div class='bg-gray-800'>
            <div class='h-16 px-8 flex items-center justify-between'>
            	<p th:object="${admin}" class='text-white font-bold text-xl' th:text="'Hello ' + *{username}"/>
            	<p class='text-white font-bold text-xl'>
	                    User Management
	            </p>
	            <form action="/logout" method="POST">
	               	<button type="submit" class="bg-red-400 rounded-full text-white px-6 py-2 text-xl font-semibold">Logout</button>
	            </form>
            	
            </div>
		</div>
		
		<div class="container mx-auto mt-10">
			<a th:href="@{/employee/register}" class="font-medium bg-blue-500 rounded-full text-white px-6 py-2 text-xl">Add Employee</a>
		</div>
		
		<div class="relative overflow-x-auto shadow-md sm:rounded-lg container mx-auto mt-4">
		    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
		        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
		            <tr>
		                <th scope="col" class="px-6 py-3">
		                    Username
		                </th>
		                <th scope="col" class="px-6 py-3">
		                    Last Name
		                </th>
		                <th scope="col" class="px-6 py-3">
		                    First Name
		                </th>
		                <th scope="col" class="px-6 py-3">
		                    Email
		                </th>
		                <th scope="col" class="px-6 py-3">
		                    <span class="sr-only">Delete</span>
		                </th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="employee : ${employees}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
		                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
		                    <p th:text="${employee.username}"></p>
		                </th>
		                <td class="px-6 py-4">
		                    <p th:text="${employee.firstName}"></p>
		                </td>
		                <td class="px-6 py-4">
		                    <p th:text="${employee.lastName}"></p>
		                </td>
		                <td class="px-6 py-4">
		                    <p th:text="${employee.email}"></p>
		                </td>
		                <td class="px-6 py-4 text-right">
		               	 	<a th:href="@{/employee/update/{id}(id=${employee.id})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-4">Update</a>
		                    <a th:href="@{/employee/delete/{id}(id=${employee.id})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
		
		<div class="border-b bg-white shadow container mx-auto w-1/2 mt-20">
        	<form action="#" th:action="@{/admin/update}" th:object="${admin}" method="POST" class="px-8 py-4">
       			<input type="hidden" th:field="*{id}"/>
        		<div class="flex justify-center mb-4">
	        		<h1 class="text-2xl font-semibold">Update Profile</h1>
	        	</div>
	        	<div class="items-center justify-center w-full">
        			<label for="username" class="text-xl block">First Name</label>
        			<input th:field="*{firstName}" id="username" name="username" class="h-10 w-2/3 border border-gray-200 focus:outline-none mt-2 px-2 py-2 rounded-full" type="text" placeholder="Enter First Name"/>
        		</div>
        		<div class="items-center justify-center w-full mt-4">
        			<label for="username" class="text-xl block">Last Name</label>
        			<input th:field="*{lastName}" id="username" name="username" class="h-10 w-2/3 border border-gray-200 focus:outline-none mt-2 px-2 py-2 rounded-full" type="text" placeholder="Enter Last Name"/>
        		</div>
        		<div class="items-center justify-center w-full mt-4">
        			<label for="username" class="text-xl block">Username</label>
        			<input th:field="*{username}" id="username" name="username" class="h-10 w-2/3 border border-gray-200 focus:outline-none mt-2 px-2 py-2 rounded-full" type="text" placeholder="Enter Username"/>
        		</div>
        		<div class="password-field items-center justify-center w-full mt-4 hidden">
        			<label for="password" class="text-xl block">Password</label>
        			<input th:field="*{password}" id="password" name="password" class="h-10 w-2/3 border border-gray-200 focus:outline-none mt-2 px-2 py-2 rounded-full" type="password" placeholder="Enter Password"/>
        		</div>
        		<div class="items-center justify-center w-full mt-4">
        			<button type="button" class="btn-password rounded-full bg-red-400 px-6 py-2 text-white font-semibold">Change Password</button>
        		</div>
        		<div class="items-center justify-center w-full my-4">
        			<label for="username" class="text-xl block">Email</label>
        			<input th:field="*{email}" id="username" name="username" class="h-10 w-2/3 border border-gray-200 focus:outline-none mt-2 px-2 py-2 rounded-full" type="text" placeholder="Enter Email"/>
        		</div>
        		<div class="mt-6">
        			<button type="submit" class="rounded-full bg-green-300 text-white py-2 px-6 mr-8">Update</button>
        		</div>
        	</form>
        </div>
		
		<script type="text/javascript">
			const showPasswordFiled = document.querySelector(".btn-password");
			const passwordField = document.querySelector(".password-field");
			
			showPasswordFiled.addEventListener("click", (event) => {
				event.preventDefault();
				passwordField.classList.remove("hidden");
				showPasswordFiled.classList.add("hidden");
			})
		</script>
	
	</body>
</html>