<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Employee Dashboard</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
	
		<div class='bg-gray-800'>
            <div class='h-16 px-8 flex items-center'>
        		<div class="flex justify-start w-1/2">
            		<p th:object="${employee}" class='text-white font-bold text-xl' th:text="'Hello ' + *{username}"/>
            	</div>
                <div class="flex justify-between w-1/2 items-center">
                	<p class='text-white font-bold text-xl'>
	                    User Management
	                </p>
	               	<form action="/logout" method="POST">
	               		<button type="submit" class="bg-red-400 rounded-full text-white px-6 py-2 text-xl font-semibold">Logout</button>
	               	</form>
                </div>
            </div>
		</div>
		
		<div class="relative overflow-x-auto shadow-md sm:rounded-lg container mx-auto mt-10">
		    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
		        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
		            <tr>
		                <th scope="col" class="px-6 py-3">
		                    Username
		                </th>
		                <th scope="col" class="px-6 py-3">
		                    Last Name
		                </th>
		                <th scope="col" class="px-6 py-3">
		                    First Name
		                </th>
		                <th scope="col" class="px-6 py-3">
		                    Email
		                </th>
		                <th scope="col" class="px-6 py-3">
		                    <span class="sr-only">Delete</span>
		                </th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="user : ${users}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
		                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
		                    <p th:text="${user.username}"></p>
		                </th>
		                <td class="px-6 py-4">
		                    <p th:text="${user.firstName}"></p>
		                </td>
		                <td class="px-6 py-4">
		                    <p th:text="${user.lastName}"></p>
		                </td>
		                <td class="px-6 py-4">
		                    <p th:text="${user.email}"></p>
		                </td>
		                <td class="px-6 py-4 text-right">
		                    <a th:href="@{/user/delete/{id}(id=${user.id})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	
	</body>
</html>